// 1.flex部分************************
$flex-jc: (
    start: flex-start,
    end: flex-end,
    center: center,
    around: space-around,
    between: space-between
);

$flex-ai: (
    // 交叉抽，整体居中，之间有间隔。
        start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch
);

$flex-ac: (
    // 交叉抽，整体居中，之间没有缝隙。
        start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch
);

// 2.text 文本布局部分****************
$text-align: (
    left: left,
    right: right,
    center: center,
    stretch: stretch
);
$vartical-align: (
    //行级或者行级块元素 (后续补充)
        center: center
);

// 3.color font background
$color: (
    'info': #17a2b8,
    'light': #f8f9fa,
    'dark': #343a40,
    'white': #fff,
    'black': #000,
    'blue': #007bff,
    'indigo': #6610f2,
    'purple': #6f42c1,
    'pink': #e83e8c,
    'red': #dc3545,
    'orange': #fd7e14,
    'yellow': #ffc107,
    'green': #28a745,
    'teal': #20c997,
    'cyan': #17a2b8,
    'gray': #6c757d
);

// 4. font-size
$base-font-size: 1rem;
$font-size: (
    14: 0.875rem,
    13: 0.8125rem,
    12: 0.75rem
);

// 5. margin padding interval
$base-interval-size: 1rem;
$interval-types: (
    m: margin,
    p: padding
);
$interval-directions: (
    t: top,
    r: right,
    b: bottom,
    l: left
);
$interval-sizes: (
    0: 0,
    1: 0.25,
    2: 0.5,
    3: 1,
    4: 1.5,
    5: 3
);
