$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;
$light: #f8f9fa !default;
$dark: #343a40 !default;
$white: #fff !default;
$black: #000 !default;
$gray: #6c757d !default;
$gray-dark: #343a40 !default;

body {
    width: 100%;
    height: 100%;
    // background-color: $gray;
    background-color: $purple;
    // background-color: $light;
    // background-color: $cyan;
    font-family: 'Times New Roman', Times, serif;
}

.el-button {
    outline: none !important;
    margin: 0 0 0 5px !important;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}
