.nav--user {
    height: 100%;
    .block {
        width: 30px;
        height: 30px;
    }
    .el-avatar {
        cursor: pointer;
        img {
            width: 100%;
        }
    }
    .unlogin {
    }
    .islogin {
        position: relative;
        div {
            cursor: pointer;
            &.show {
                position: relative;
                > div {
                    margin-right: 10px;
                }
                z-index: 1000;
            }
            &.exhibition {
                @mixin ulStyle {
                    ul {
                        padding: 10px 0 0 0;
                        li {
                            padding: 5px 0;

                            span {
                                margin-left: 5px;
                            }
                            &:hover {
                                @include hoverStyle;
                            }
                        }
                    }
                }
                @mixin hoverStyle {
                    color: #eee;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 0, 0.3);
                }
                position: absolute;
                top: -10px;
                right: 0;
                padding: 10px;
                width: 250px;
                height: 350px;
                font-size: 0.9rem;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 500;

                box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.3);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 10px;
                > div {
                    margin-bottom: 10px;
                    &:not(:first-of-type) {
                        border-top: 1px solid #bbb;
                    }
                    &.top {
                        p {
                            width: 100px;
                            height: 30px;
                            line-height: 30px;
                            span {
                                margin-left: 5px;
                            }
                            &:nth-of-type(2) {
                                text-align: center;
                            }
                            &:hover {
                                @include hoverStyle;
                            }
                        }
                        > div {
                            margin-bottom: 20px;
                            div {
                                padding: 5px;
                                span {
                                    display: block;
                                    text-align: center;
                                }
                                &:hover {
                                    @include hoverStyle;
                                }
                            }
                            &:nth-of-type(2) {
                                text-align: center;
                            }
                        }
                    }
                    &.main {
                        @include ulStyle;
                    }
                    &.bottom {
                        padding: 20px 0;
                        @include ulStyle;
                    }
                }
                z-index: 999;
            }
        }

        span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
