.home__mood {
    padding: 20px;
    ul {
        li {
            margin-right: 10px;
            &.active {
                color: darkorange;
            }
        }
    }
}

.wrapper {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    > .el-row {
        margin-bottom: 10px;
    }
    .mood-content-top {
        .block {
            width: 30px;
            height: 30px;
            img {
                width: 100%;
            }
        }
        span {
            font-size: 0.9rem;
            font-weight: 800;
        }
        margin-bottom: 10px;
    }
    .mood-content-center {
        p {
            height: 100%;

            padding: 10px;
            margin: 0;

            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.1);
        }
        .radio {
            position: relative;
            height: 80px;
            .mood-img {
                img {
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 80px;
                    border-radius: 50%;
                    cursor: pointer;
                    z-index: 90;
                }
                // i {
                //     position: absolute;
                //     left: 50%;
                //     top: 50%;
                //     transform: translate(-50%, -50%);
                //     font-size: 3rem;
                //     font-weight: 500;
                //     color: #fff;
                //     z-index: 100;
                // }
            }
            .mood-mp3 {
                // 这里也要定位。为了让span相对于radio定位，没有设置
                width: 100%;
                height: 100%;

                > span {
                    // w
                    position: absolute;
                    left: 60%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                .audio__control {
                    position: absolute;
                    left: 50%;
                    top: 105%;
                    transform: translate(-50%);
                    z-index: 90;
                }
            }
        }
    }
}
