.wrapper {
    width: 100%;
    .mood-content--top {
        > div {
            margin-bottom: 5px;
            font-family: sans-serif;
            font-weight: 400;
            font-size: 1rem;

            span {
                margin-right: 10px;
            }
        }
        > p {
            background-color: darkorange;
            border-radius: 5px;
            padding: 5px;
        }
    }
    .mood-content--center {
        > div {
            margin-right: 10px;
            &.mood-img {
                img {
                    width: 60px;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
            &.mood-mp3 {
                audio {
                    height: 40px;
                    margin-right: 10px;
                    outline-style: none;
                }
            }
        }
    }
}
