.mood-comment-list {
    width: 100%;
    padding: 10px;
    > div {
        margin-bottom: 10px;
        &.mood-comment--btn {
            .el-badge {
                &:nth-of-type(1) {
                    margin-right: 10px;
                }
            }
        }
        &.moode-comment--editor {
        }
        &.mood-comment--show {
            .el-card {
                border: none;
                .comment-structure {
                    margin-bottom: 10px;
                    &-content {
                        margin-bottom: 5px;
                        img {
                            width: 40px;
                            height: 40px;
                            margin-right: 10px;
                            border: 2px solid burlywood;
                            border-radius: 50%;
                        }
                        > div {
                            p {
                                margin: 0;
                                &:nth-of-type(1) {
                                    margin-bottom: 5px;
                                    font-size: 1rem;
                                    font-weight: 800;
                                }
                            }
                            > div {
                                margin-bottom: 7px;
                                &.time-reply {
                                    > span {
                                        font-size: 0.8rem;
                                        margin-right: 20px;
                                        color: #999;
                                    }
                                }
                            }
                        }
                    }
                    &-reply {
                        margin-left: 50px;
                        p {
                            margin-bottom: 0;
                            color: burlywood;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

    .el-button {
        outline: none;
    }
}
