.comment-reply-list {
    width: 100%;
    .comment-reply-item {
        // border-bottom: 1px solid black;
        > div {
            margin-bottom: 7px;
            border-bottom: 1px solid black;
        }
        .reply-area {
            > span {
                font-size: 0.9rem;
                font-weight: 800;
                padding: 0 3px;
                .reply-color {
                    color: cadetblue;
                }
                &.reply-content-color {
                    color: #999;
                }
            }
        }

        .time {
            font-size: 0.8rem;
            color: #999 !important;
            margin-right: 10px;
        }
    }
}
