.login {
    width: 400px;
    height: 100%;
    border-radius: 20px;
    border: 2px solid #999999;
    form > div {
        position: relative;
        width: 80%;
        margin-bottom: 5px;
        &:first-of-type {
            margin-top: 20px;
        }
        &.active:nth-of-type(1)::after,
        &.active:nth-of-type(2)::after {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            right: -20px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #20c997;
        }
        label {
            width: 25%;
            height: 30px;
            line-height: 30px;
            margin: 0;
            border-radius: 30% 30%;
            background-color: #999999;
            text-align: justify;
            text-align-last: justify;
            text-justify: distribute-all-lines;
        }
        input {
            width: 70%;
            height: 35px;
            padding: 5px;
            background-color: cadetblue;

            border-radius: 10px;
            border: 2px solid #999999;
            outline-style: none;
            margin-left: 10px;
        }
        p {
            opacity: 0;
            margin-left: 30%;
            margin-bottom: 0;
            font-size: 0.9rem;
            height: 1.25rem;
            color: #dc3545;
            // border: 1px solid black;
            &.error-msg {
                opacity: 1;
            }
        }
        &.other {
            margin-top: 10px;
            button {
                width: 100%;
                height: 50px;

                border-radius: 10px;
                border: 2px solid #999999;
                outline-style: none;
            }
            div {
                margin-top: 10px;
                span {
                    font-size: 0.9rem;
                    color: #999999;
                    width: 50px;
                    margin: 10px;
                    text-align: center;
                    cursor: pointer;

                    border-radius: 5px;
                    border: 1px solid black;
                    &:first-of-type {
                        text-align: start;
                        border: none;
                    }
                }
            }
        }
    }
}
