.editor {
    height: 100%;
    padding: 5px;
    overflow: hidden;
    > div:nth-of-type(1) {
        height: 195px;
    }
    > div:nth-of-type(2) {
        height: 175px;
    }
    > div:nth-of-type(3) {
        height: 195px;
    }
    > div > div {
        height: 100%;
        width: 31.875rem;
        border: 3px solid #fd7e14;
        border-radius: 0.625rem;
        box-shadow: 10px 10px 10px 0#343a40;
    }
}
