@keyframes imgRotate {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}

form.editormood {
    position: relative;
    width: 100%;
    height: 100%;

    div.mood {
        position: absolute;
        width: 100%;
        z-index: 101;
        textarea {
            width: 100%;
            height: 3.125rem;
            border-radius: 0.625rem;
            outline-style: none;
            resize: none;
            transition: height 0.8s;
            &.active {
                height: 190px;
            }
            &::placeholder {
                color: #999999;
            }
        }
    }
    div.moodelse {
        position: absolute;
        width: 100%;

        top: 55px;
        div.upload {
            margin-bottom: 10px;
            justify-content: flex-end;
            @mixin uploadSpanCommon {
                display: inline-block;
                height: 30px;
                width: 85px;
                margin-right: 10px;
                font-weight: 800;
                text-align: center;
                border-radius: 5px;
                z-index: 100;
            }
            div.mp3 {
                span {
                    @include uploadSpanCommon;
                    background-color: #20c997;
                }
                input {
                    display: none;
                }
            }
            div.picture {
                span {
                    @include uploadSpanCommon;
                    background-color: #0dcaf0;
                }
                input {
                    display: none;
                }
            }
        }
        div.resMusic {
            position: relative;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 10px;
            > img {
                position: absolute;
                left: 50px;
                top: -30px;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                transform: rotateZ(0deg);
                &.active {
                    animation: imgRotate 10s cubic-bezier(0, 0, 1, 1) infinite;
                }
            }
            > .avatar-default {
                position: absolute;
                left: 50px;
                top: -30px;
                border-radius: 50%;
            }

            > audio {
                height: 40px;
                margin-right: 10px;
                outline-style: none;
            }
        }
        div.btn {
            width: 100%;
            padding: 0;
            overflow: hidden;
            button {
                float: right;
                width: 100px;
                height: 35px;
                margin-right: 10px;
                border-radius: 10px;
                border-style: none;
                outline-style: none;
                background-color: #fd7e14;
            }
        }
    }
}
