.container-fluid {
    height: 100vh;
    .my-menus {
        width: 15.625rem;
        height: 100vh;
        padding: 0.3125rem;
        box-shadow: inset -10px 0px 20px 0px#f8f9fa;
        > div {
            margin-bottom: 10px;
        }
    }
    .my-content {
        border-left: 5px solid #6c757d;
        box-shadow: inset 0px 0px 10px 0px #f8f9fa;
        height: 100vh;

        overflow-y: auto;
    }
}
