@mixin textOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin photoCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@mixin itemCommonStyle {
    margin-bottom: 10px;
    border-radius: 0.625rem;
    box-shadow: 2px 2px 10px 0 #fff;
}

.user {
    @include itemCommonStyle;
    padding: 5px 15px;
    .me {
        position: relative;
        line-height: 55px;
        width: 60%;
        span {
            width: 20%;
            font-size: 1.2rem;
            font-weight: 500;
            @include textOverflow;
        }
        > div {
            width: 60px;
            line-height: 30px;

            i {
                height: 30px;
                font-weight: 500;
            }
        }

        form {
            position: absolute;
            left: 115%;
            top: 0;
            width: 300px;
            // height: 300px;

            display: none;
            line-height: normal;
            padding: 10px;
            z-index: 1000;
            border-radius: 10px;
            background-color: #ccc;
            > div {
                position: relative;
                &.submit {
                    button {
                        outline: none;
                        border: none;
                        margin-right: 10px;
                        border-radius: 5px;
                        background-color: #fd7e14;
                    }
                }
                &.uploadphoto {
                    height: 100px;
                }

                span {
                    margin-right: 10px;
                }
                img {
                    position: absolute;
                    left: 5px;
                    top: 35px;
                    // display: none;
                    width: 60px;
                    height: 60px;
                    border: 1px solid black;
                    border-radius: 5px;
                    z-index: 100;
                }
                > div {
                    position: absolute;
                    left: 5px;
                    top: 35px;
                    width: 60px;
                    height: 60px;
                    text-align: center;
                    border: 1px solid black;
                    border-radius: 5px;
                    i {
                        font-size: 2rem;
                        line-height: 60px;
                    }
                }
                > p {
                    input {
                        width: 100px;
                        margin-right: 5px;
                    }
                }
                input {
                    text-align: center;
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    &.nickname {
                        width: 7rem;
                    }
                    &.uploadphoto {
                        width: 6rem;
                    }
                }
            }
            &.active {
                display: block;
            }
        }
    }
    .photo {
        @include photoCircle;
        // border-radius: 10px;
        width: 40px;
        height: 40px;
        box-shadow: 2px 2px 5px 0 #000;
        background-image: url('../../../assets/images/you1.jpg');
    }
    > img {
        @include photoCircle;
        // border-radius: 10px;
        width: 40px;
        height: 40px;

        box-shadow: 2px 2px 5px 0 #000;
    }
}
