.list {
    > dl {
        // position: relative;
        padding: 8px 10px 0 10px;
        margin-bottom: 10px;
        > dt {
            margin-bottom: 10px;
            line-height: 30px;
            transition: all 1s;
            cursor: pointer;

            overflow: hidden;
            border: 2px solid black;
            border-radius: 10px;
            box-sizing: 5px 5px 10px 0 black;

            i:nth-of-type(1) {
                float: left;
                font-size: 1.2rem;
                letter-spacing: 1px;
            }
            i.icon-jiantou-you-cuxiantiao-fill:nth-of-type(2) {
                float: right;
                display: block;
            }
            i.icon-jiantou-xia-cuxiantiao-fill:nth-of-type(3) {
                float: right;
                display: none;
            }

            &:hover {
                transform: scale(1.03);
            }
        }
        > p {
            // 仅仅是为了，没有children，保证间距统一，4px的线
            margin: 0;
            border: 2px solid transparent;
        }
        > div {
            // position: absolute;

            // display: none;
            height: 0;
            opacity: 0;
            border: 2px solid black;
            border-radius: 5px;
            transition: all 1s;
            overflow: hidden;

            dd {
                cursor: pointer;
                margin-left: 40px;
                margin-right: 10px;
                line-height: 20px;
                > i {
                    margin-right: 5px;
                }
                &:hover {
                    color: #6f42c1;
                    font-weight: 600;
                }
            }
        }
        &.active {
            > dt {
                i.icon-jiantou-you-cuxiantiao-fill:nth-of-type(2) {
                    display: none;
                }
                i.icon-jiantou-xia-cuxiantiao-fill:nth-of-type(3) {
                    display: block;
                }
            }
            > div {
                // display: block;
                // line-height: 0;
                height: 100px;
                transition: all 1s;
                opacity: 1;
                border: 2px solid black;
            }
        }
    }
}
